<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Seleccioneu els participants:
    </h2>
    <h3>
        <form action="/entrar_participants" method="POST">
            <% nom =  text.split(',')[0].toString() %>
            <br><input type="checkbox" name="participant0" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[1].toString() %>
            <br><input type="checkbox" name="participant1" value= <%=nom%> > <%=nom%> 
            <% nom =  text.split(',')[2].toString() %>
            <br><input type="checkbox" name="participant2" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[3].toString() %>
            <br><input type="checkbox" name="participant3" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[4].toString() %>
            <br><input type="checkbox" name="participant4" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[5].toString() %>
            <br><input type="checkbox" name="participant5" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[6].toString() %>
            <br><input type="checkbox" name="participant6" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[7].toString() %>
            <br><input type="checkbox" name="participant7" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[8].toString() %>
            <br><input type="checkbox" name="participant8" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[9].toString() %>
            <br><input type="checkbox" name="participant9" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[10].toString() %>
            <br><input type="checkbox" name="participant10" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[11].toString() %>
            <br><input type="checkbox" name="participant11" value= <%=nom%> > <%=nom%> 
            <% nom =  text.split(',')[12].toString() %>
            <br><input type="checkbox" name="participant12" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[13].toString() %>
            <br><input type="checkbox" name="participant13" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[14].toString() %>
            <br><input type="checkbox" name="participant14" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[15].toString() %>
            <br><input type="checkbox" name="participant15" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[16].toString() %>
            <br><input type="checkbox" name="participant16" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[17].toString() %>
            <br><input type="checkbox" name="participant17" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[18].toString() %>
            <br><input type="checkbox" name="participant18" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[19].toString() %>
            <br><input type="checkbox" name="participant19" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[20].toString() %>
            <br><input type="checkbox" name="participant20" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[21].toString() %>
            <br><input type="checkbox" name="participant21" value= <%=nom%> > <%=nom%> 
            <% nom =  text.split(',')[22].toString() %>
            <br><input type="checkbox" name="participant22" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[23].toString() %>
            <br><input type="checkbox" name="participant23" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[24].toString() %>
            <br><input type="checkbox" name="participant24" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[25].toString() %>
            <br><input type="checkbox" name="participant25" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[26].toString() %>
            <br><input type="checkbox" name="participant26" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[27].toString() %>
            <br><input type="checkbox" name="participant27" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[28].toString() %>
            <br><input type="checkbox" name="participant28" value= <%=nom%> > <%=nom%>
            <% nom =  text.split(',')[29].toString() %>
            <br><input type="checkbox" name="participant29" value= <%=nom%> > <%=nom%>

            <br/><button type="submit" class="filter-button"> entrar a l'historial </button> 
        </form>
    </h3>
</body>
</html>