<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <%= text1 %>
    </h1>
    <h2>
        <br/> desnivell màxim: 
        <%= text2 %>

        <br/> distància màxima: 
        <%= text3 %>

        <br/> tren: 
        <%= text4 %>

        <br/> lloc on dormir: 
        <%= text5 %>
        
        <br/>
        <br/> descripció: <br/>
        <%= text6 %>
    </h2>
</body>
</html>